.card:hover .text,
.card:focus .text {
  opacity: 1;
  visibility: visible;
  height: 50%;
}

.card::after {
  content: '';

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: hsla(252, 17%, 83%, 0.7);
  border-radius: 12px;

  opacity: 0;

  transition: all 300ms ease-in;
}

.card:hover::after,
.card:focus::after {
  opacity: 1;
}

.card {
  box-shadow: 2px 0px 9px 0px rgba(166, 141, 174, 0.28);
}
